body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-article {
	overflow: hidden;
	z-index: 1;
}
#main-article.cookie-alert-opened {
	padding-top: 0px;

	transition: padding-top 0.2s linear;
	-moz-transition: padding-top 0.2s linear;
	-o-transition: padding-top 0.2s linear;
	-webkit-transition: padding-top 0.2s linear;
}
#main-article > section {
	min-height: inherit;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
#main-article > section.has-background-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


@media only screen and (min-width :1224px) {

	.responsive {
		width: 1180px;
	}
	#main-article {
		min-height: 750px;
	}
}
		
/* Desktops and laptops ----------- */
@media only screen and (min-width :1024px) and (max-width : 1224px) {

	.responsive {
		width: 980px;
	}
	#main-article {
		min-height: 650px;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

	.responsive {
		width: 720px;
	}
	#main-article {
		min-height: 650px;
	}
}
	
@media only screen and (min-width : 480px) and (max-width : 768px) {

	.responsive {
		width: 450px;
	}
	#main-article {
		min-height: 650px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	.responsive {
		width: 280px;
	}
	#main-article {
		min-height: 400px;
	}
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

	.responsive {
		width: 270px;
	}
	#main-article {
		min-height: 400px;
	}
}